:root{
    --primaryColor: hsl(210, 22%, 49%);
    --secondaryColorTransparent: #49a6e977;
    --secondaryColor: #49a6e9;
    --backgroundColor: hsl(210, 36%, 96%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
}

.space{
    height: 150vh;
}

/*=======================HEADER========================*/

header{
    width: 100%;
    height: 8vh;
}

.hamburger{
    position: absolute;
    top: 2rem;
    right: 3rem;
    background-color: var(--backgroundColor);
    border: none;
    cursor: pointer;
    color: var(--secondaryColor);
    transition: transform 0.5s ease;
}

.hamburger:hover{
    transform: rotateZ(90deg);
    transition: transform 0.5s ease;
}

/*=======================SIDEBAR========================*/

.sidebar{
    position: fixed;
    height: 100vh;
    top: 0px;
    left: -100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    background-color: white;
    box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 1rem;
    width: 100%;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.active{
    left: 0%;
}

.close{
    border: none;
    background-color: white;
    color: red;
    margin-right: 1rem;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.close:hover{
    transform: rotateZ(360deg);
    transition: transform 0.5s ease;
}

nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.nav-item{
    padding: 1rem 0;
    text-decoration: none;
    color: var(--primaryColor);
    width: 100%;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.nav-item:hover{
    background-color: var(--secondaryColorTransparent);
    font-size: 1.75rem;
    transition: 0.3s ease;
    color: var(--secondaryColor);
}